{% extends 'app/base.html' %}
{% block content %}
    <style>
        table {
            table-layout: fixed;
        }

        td > div {
            height: 100px;
            overflow: hidden;
            white-space: nowrap;
        }

    </style>
    <div id="pagenations">
        <a href="{% url 'app:month_with_schedule' month_previous.year month_previous.month %}">前月</a>
        {{ month_current | date:"Y年m月" }}
        <a href="{% url 'app:month_with_schedule' month_next.year month_next.month %}">次月</a>
    </div>

    <div id="calender">
        <table class="table">
            <thead>
            <tr>
                {% for date in week_names %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for week_day_schedles in month_day_schedules %}
                <tr>
                    {% for day, schedules in week_day_schedles.items %}
                        {% if now == day %}
                            <td class="table-success" id="date-now">
                                {% else %}
                            <td id="date-table">
                        {% endif %}

                    <div>
                        {% if month_current.month != day.month %}
                            {{ day | date:"m/d" }}
                        {% else %}
                            {{ day.day }}
                        {% endif %}

                        {% for schedule in schedules %}
                            <p>{{ schedule.summary }}</p>
                        {% endfor %}
                    </div>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<script>
$(function(){
 tr_default(".table");
 $(".table tr td:not(.table-success)").click(function(){
  tr_default(".table");
  tr_click($(this));
 });
});

function tr_default(tblID){
 let vTR = tblID + " tr" + " td:not(.table-success)";
 $(vTR).css("background-color","#ffffff");
 $(vTR).mouseover(function(){
 $(this).css("background-color","#FFD700") .css("cursor","pointer")
 //$(today).css()
 });
 $(vTR).mouseout(function(){
  $(this).css("background-color","#ffffff") .css("cursor","normal")
 });
}

function tr_click(trID){
 trID.css("background-color","#00FFFF");
 trID.mouseover(function(){
  $(this).css("background-color","#CCFFCC") .css("cursor","pointer")
 });
 trID.mouseout(function(){
  $(this).css("background-color","#00FFFF") .css("cursor","normal")
 });
}
</script>
{% endblock %}